<div id="divBottom">
    <h3 id="BlogCopyRight">
        <!--<script src="http://s20.cnzz.com/stat.php?id=681872&web_id=681872&show=pic" language="JavaScript"></script>-->
        <script src="__PUBLIC__/static/index/style/foot.js" language="JavaScript"></script>
        　@chenjunkai1758730877
    </h3>
    <h4 id="BlogPowerBy">Powered By <a href="http://www.rainbowsoft.org/" title="RainbowSoft Studio Z-Blog"
                                       target="_blank">Moji-Blog</a>　本站遵循<a rel="license" target="_blank"> CC BY-NC-ND
        3.0 CN协议 </a>。</h4>
</div>